<template>
  <form class="input-group mb-3" @submit.prevent="search">
    <input
      type="text"
      class="form-control"
      v-bind="$attrs"
      v-on="$listeners"
      :value="query"
      @keyup.enter="$emit('search', query)"
      @input="search($event.target.value)"
      ref="inputRef"
    >

    <input type="submit" value="Search">
  </form>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  props: ["query"],
  inheritAttrs: false,
  model: {
    prop: "query",
    event: "queryChange"
  }
})
export default class SearchField extends Vue {
  //
  // query: string = "";

  mounted() {
    // (this.$refs['inputRef'] as HTMLInputElement).focus()
    const input = this.$refs["inputRef"];

    if (input instanceof HTMLInputElement) {
      input.focus();
    }
  }

  debounce?: number;

  search(query: string) {
    clearTimeout(this.debounce);

    this.debounce = setTimeout(() => {
      this.$emit("search", query);
    }, 400);
  }
}
</script>

